@media only screen and (max-width: 480px) {
  .intro {
    font-family: "Montserrat", sans-serif;
    font-size: 1.875rem;
    line-height: 2.25rem;
    text-align: center;
    color: var(--white);
  }
}

@media only screen and (min-width: 480px) {
  .intro {
    font-family: "Montserrat", sans-serif;
    font-size: 3.75rem;
    line-height: 1;
    text-align: center;
    color: var(--white);
  }
}

#frame-line-x {
  position: absolute;
  background-color: #fff;
  opacity: 0.5;
  animation: grow-x ease 1s forwards;
}

#frame-line-y {
  position: absolute;
  background-color: #fff;
  opacity: 0.5;
  animation: grow-y ease 1s forwards;
}

#page-list-big {
  margin: 15px;
  font-weight: 200;
  scale: 1.2;
  transition: 0.5s;
}
#page-list-normal {
  margin: 15px;
  font-weight: 200;
  scale: 1;
  transition: 0.5s;
}

@keyframes grow-x {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

@keyframes grow-y {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}
