@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

#background {
    background-color: hsl(0, 0%, 5%);
}

#frame {
    height: calc(100vh - 75px);
    width: calc(100vw - 75px);
}

#name {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: hsl(0, 0%, 95%);
}