.about-text {
  /* position: absolute;
  height: 65vh;
  width: calc((100vw - 10vh) / 3);
  right: calc(((100vw - 10vh) / 2 - (100vw - 10vh) / 3) / 2); */
  line-height: 2.25rem;
  text-align: center;
  font-weight: 100;
  color: var(--yellow);
  justify-items: center;
}

.nonmobile-about-text {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
