#name {
  font-weight: 375;
}
#label {
  font-weight: 100;
}

#page-list {
  display: grid;
  align-items: center;
  font-weight: 200;
  transition: 0.5s;
  height: 50px;
  width: fit-content;
  margin: 25px;
  z-index: 10;
}
#page-list:hover {
  scale: 1.15;
}
