@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: hsl(0, 0%, 95%);
  --black: hsl(0, 0%, 5%);
  --yellow: hsl(42, 68%, 82%);
  cursor: none;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
