#contacts-container {
  position: absolute;
  height: fill;
  width: calc((100vw - 10vh) / 2);
  right: calc(((100vw - 10vh) / 2 - (100vw - 10vh) / 2) / 2);
  color: var(--yellow);
}

#contacts-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 90%;
}

#icon {
  transition: 0.2s ease;
  margin: auto;
  width: fit-content;
}
#icon:hover {
  scale: 1.1;
}
